[submodule "core/OptionsMenu"]
	path = core/OptionsMenu
	url = https://github.com/DefKorns/OptionsMenu
[submodule "addons/om_theme-selector"]
	path = addons/om_theme-selector
	url = https://gitlab.com/DefKorns/om_theme-selector.git
[submodule "addons/OptionsMenu-JapaneseFontPack"]
	path = addons/OptionsMenu-JapaneseFontPack
	url = https://github.com/DefKorns/OptionsMenu-JapaneseFontPack
